* {
    padding:0;
    margin:0;
}

body{
background-color: #F4EDEA;
}

hr{
    height: 2px;
    background-color: black;
    border: none;
}

ul{
    color: black;
    list-style-type: none;
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 60px;
    background-color: #DACDBF;
    font-size: x-large;
    padding-right: 20px;
    height: 75px;
    background: linear-gradient(to bottom, #DACDBF 60px, #F4EDEA);
}

ul li a {
    color: black;
    text-decoration: none;
}

.logo{
    width: 100px;
    margin-right: auto;
}

.kontakt{
        background-color: #F4EDEA;
        padding: 10px 10px;
        border: solid black, 1px;
}

.overskrift{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.picture img{
    width: 400px;
}

.experience{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    flex-direction: column;
}


.programs img{
    margin-top: 10px;
    width: 60px;
    height: auto;
}














.footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background-color: #DACDBF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    background: linear-gradient(to top, #DACDBF 60px, #F4EDEA);
}

.myname{
    padding-left: 20px;
}

.facebook img{
    width: 50px;
    height: auto;
}
.instagram img{
    padding-top: 5px;
    width: 50px;
    height: auto;
    padding-right: 20px;
}

.contact{
    color: black;
    text-decoration: none;
}