* {
    padding:0;
    margin:0;
}

body{
background-color: #F4EDEA;
}

ul{
    color: black;
    list-style-type: none;
    display: flex;
    flex-direction: row;  
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    background-color: #DACDBF;
    font-size: x-large;
    padding-bottom: 20px;
    padding-right: 20px;
    
}
ul li a {
    color: black;
}

.logo{
    width: 100px;
    margin-right: auto;
}

.kontakt{
        background-color: #F4EDEA;
        border-radius: 30%;
        padding: 10px 10px;
}

.overskrift{
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container{
    display: flex;
    justify-content: row;
    justify-content: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.picture img{
    width: 400px;
}















.footer{
    background-color: #DACDBF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 15px;
    font-size: larger;
}

.facebook img{
    width: 50px;
    height: auto;
}
.instagram img{
    padding-top: 5px;
    width: 50px;
    height: auto;
}

.contact{
    color: black;
}