* {
    padding:0;
    margin:0;
}

body{
background-color: #F4EDEA;
}

hr{
    height: 2px;
    background-color: black;
    border: none;
}

ul{
    color: black;
    list-style-type: none;
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 60px;
    background-color: #DACDBF;
    font-size: x-large;
    height: 75px;
    padding-right: 20px;
    background: linear-gradient(to bottom, #DACDBF 60px, #F4EDEA);
}

ul li a {
    color: black;
    text-decoration: none;
}

.logo{
    width: 100px;
    margin-right: auto;
}

.kontakt{
        background-color: #F4EDEA;
        padding: 5px 5px;
        border: solid black, 1px;
        width: 100px;
        height: 50px;
}

.overskrift{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.projekter{
    margin-bottom: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-areas: 
    "projekt1 projekt2 projekt3"
    "projekt4 projekt5 projekt6";
    justify-content: center;
    gap: 170px;
}

.projekter div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 370px;
    box-shadow: 3px 3px 5px black;
    border-radius: 20px;
}

.projekt1 img, .projekt2 video, .projekt3 img, .projekt4 img, .projekt5 img, .projekt6 img{
    width: 100%;
    height: 75%;
    object-fit: contain;
}

.projekt1 p, .projekt2 p, .projekt3 p, .projekt4 p, .projekt5 p, .projekt6 p{
    width: 80%;
   height: 8%;
   object-fit: contain;
}

.footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background-color: #DACDBF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    background: linear-gradient(to top, #DACDBF 60px, #F4EDEA);
}

.myname{
    padding-left: 20px;
}

.facebook img{
    width: 50px;
    height: auto;
}

.instagram img{
    padding-top: 5px;
    width: 50px;
    height: auto;
    padding-right: 20px;
}

.contact{
    color: black;
    text-decoration: none;
}

@media (max-width: 768px){

    ul{
        justify-content: center;
        gap: 5px;
        height: auto;
    }

    .logo{
        margin-right: 0;
    }

    .kontakt{
        font-size: 20px;
    }

    .overskrift{
        font-size: 32px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .projekter{

        grid-template-areas:
        "projekt1"
        "projekt2"
        "projekt3"
        "projekt4"
        "projekt5"
        "projekt6";

        gap: 40px;

        margin-top: 30px;
        margin-bottom: 30px;
    }

    .projekter div{
        width: 90%;
         width: 280px;
        height: 300px;
        padding-bottom: 20px;
    }

    .projekt1 img, .projekt2 video, .projekt3 img, .projekt4 img, .projekt5 img,.projekt6 img{
        width: 80%;
        height: 80%;
        object-fit: contain;
    }

    .projekt1 p, .projekt2 p, .projekt3 p, .projekt4 p, .projekt5 p, .projekt6 p{
        width: 90%;
        height: auto;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footer{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        height: auto;
        padding: 20px 0;
    }

    .myname{
        padding-left: 0;
    }

    .instagram img{
        padding-right: 0;
    }

}